<button mdbBtn color="primary" class="waves-light btn btn-block animated wobble font-weight-bold" type="button"
  (click)="test.toggle()" mdbWavesEffect>
  C o n t a c t s
</button>

<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient" style="width: 100%;">
    <div class="card-body text-left">
      <span class="card-title h6" style="color: #212121;">Personal Information</span>
      <p class="card-text pt-2"><i class="fas fa-map-marker-alt"></i> &nbsp; 102 Collin Street, Kolkata - 700016 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;West Bengal, India</p>
      <p class="card-text"><i class="fas fa-envelope-square"></i> <span> &nbsp; iammdshabbiralam@gmail.com</span></p>
      <p class="card-text"><i class="fas fa-mobile-alt"></i> <span> &nbsp; +91 8777303017</span></p>
    </div>
  </div>
  <div class="card incard heavy-rain-gradient" style="width: 100%;">
    <div class="card-body text-left">
      <span class="card-title h6" style="color: #212121;">Coding Links <br></span>
      <a href="https://auth.geeksforgeeks.org/user/optimise-your-code/practice/" target="_blank" rel="noopener noreferrer"
        class="btn btn-sm border border-info" style="width: 45%;margin: 5px;">GFG</a>
      <a href="https://leetcode.com/mdshabiralam/" target="_blank" rel="noopener noreferrer" class="btn btn-sm border border-info"
        style="width: 45%;margin: 5px;">LeetCode</a>
      <a href="https://www.codechef.com/users/mdshabbiralam" target="_blank" rel="noopener noreferrer" class="btn btn-sm border border-info"
        style="width: 45%;margin: 5px;">CodeCheff</a>
      <a href="https://github.com/mdshabbiralam011" target="_blank" rel="noopener noreferrer" class="btn btn-sm border border-info"
        style="width: 45%;margin: 5px;">GitHub</a>
    </div>
  </div>