<div class="row rowBody text-dark">
  <!-- imagebox container-->
  <div class="col-md-4 col-sm-12">
    <img class="animated pulse infinite" src="assets\images\profilePic.jpg" />
  </div>
  <!-- C:\Users\HP\Desktop\Personal-PortFolio\src\assets\images\profilePic.jpg -->
  <!--my details and social media handle-->
  <div
    class="myDetails col-md-8 col-sm-12 animate__animated animate__bounceInRight"
  >
    <h2 style="margin-top: 5%">Hi. I'm <b class="name"> Md Shabbir Alam.</b></h2>
    <p class="h5" style="margin-top: 5%; padding: 10px">
      A Focused and enthusiastic <b>Front-End Angular Developer</b> & learner with a
      keen interest in Web development and solving DSA problems. I am a
      passionate individual who thrives to build and apply algorithms to solve
      real-world industries problems.
    </p>
    <!--social media handles-->
    <div class="col-md-6 col-sm-12 animate__animated animate__bounceInLeft">
      <h4 style="margin-top: 5%; color: #283593">Connect with me :</h4>
      <a
        href="https://github.com/mdshabiralam8777"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="fab fa-github-square animated fadeInUp"
          style="color: #211f1f"
        ></i
      ></a>
      <a
        href="https://www.linkedin.com/in/md-shabir-alam-1014b6144/"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="fab fa-linkedin-square animated fadeInUp"
          style="color: #0077b5"
        ></i
      ></a>
      <a
        href="https://www.facebook.com/mdshabbir.alam.75033/"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="fab fa-facebook-square animated fadeInUp"
          style="color: #3b5998"
        ></i>
      </a>
      <a
        href="https://twitter.com/M_S_Alam2210"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="fab fa-twitter-square animated fadeInUp"
          style="color: #00acee"
        ></i>
      </a>
      <a
        href="https://www.instagram.com/_._shabbir_._/"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="fab fa-instagram-square animated fadeInUp"
          style="color: #fb3958"
        ></i>
      </a>
    </div>
    <div class="container py-3">
      <h4 style="color: #283593">
        Download Resume:
        <a
          href="https://drive.google.com/file/d/1HE9-QSBoEjqPTWci8grpKiaPEylwaw0C/view?usp=sharing"
          class="btn-floating btn-lg waves-light rounded-circle"
          target="_blank"
          mdbWavesEffect
          ><i class="animated pulse fas fa-cloud-download-alt"></i
        ></a>
      </h4>
    </div>
  </div>
  <div
    class="row text-center mt-2 d-flex justify-content-center container-fluid"
  >
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
      <app-education></app-education>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
      <app-projects></app-projects>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-skills></app-skills>
    </div>
  </div>
  <div
    class="row text-center mt-3 pb-2 d-flex justify-content-center container-fluid"
  >
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
      <app-experience></app-experience>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
      <app-contacts></app-contacts>
    </div>

    <!-- <div class="col-4">
            <button mdbBtn color="primary" class="waves-light btn btn-block animated wobble font-weight-bold" type="button" (click)="test.toggle()" mdbWavesEffect>
                A C H E I V E M E N T S
              </button>
        </div> -->
  </div>
  <div class="col-lg col-md-6 col-sm-12">
    <app-footer></app-footer>
  </div>
</div>

<!-- Different Components Like Education, Skill, Projects etc. -->
<!-- <div class="row text-center mt-2 d-flex justify-content-center container-fluid">
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <app-education></app-education>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <app-projects></app-projects>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <app-skills></app-skills>
    </div>
</div>
<div class="row text-center mt-3 pb-2 d-flex justify-content-center container-fluid">
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <app-experience></app-experience>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <app-contacts></app-contacts>
    </div>
</div> -->
