<button
  mdbBtn
  color="primary"
  class="waves-light btn btn-block animated wobble font-weight-bold"
  type="button"
  (click)="test.toggle()"
  mdbWavesEffect
>
  P r o j e c t s
</button>
<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient" style="width: 100%">
    <div class="card-body">
      <span class="card-title h5" style="color: #212121">Cinemepedia</span>
      <p class="card-text">
        CinemaPedia is a Community where you can find details of a film ,cast &
        crew.It is especially dedicated to moviebuffs. Connecting & educating
        people through theart of cinema. Along with this this web app also
        integrated with the movies merchandise like you can order accessories
        related to movies......!!!
      </p>
      <p class="card-text">
        Technology : <span class="text-muted">Angular, TMDb API</span>
      </p>
      <a
        class="card-text"
        target="_blank"
        href="https://github.com/mdshabiralam8777/CinemaPedia/tree/master/TeamI-Movie"
        >Project <i class="fas fa-code-branch"></i
      ></a>
    </div>
  </div>
  <div class="card incard heavy-rain-gradient" style="width: 100%">
    <div class="card-body">
      <span class="card-title h5" style="color: #212121">SuperHero Archive</span>
      <p class="card-text">
        Superhero Archive - A React-based PWA for quick hero searches with error
        handling, ensuring instant results and ease of access
      </p>
      <p class="card-text">
        Technology : <span class="text-muted">ReactJS, SuperHero API</span>
      </p>
      <a
        class="card-text"
        target="_blank"
        href="https://github.com/mdshabiralam8777/SuperHeroArchive"
        >Project <i class="fas fa-code-branch"></i
      ></a>
    </div>
  </div>
  <button
    mdbBtn
    type="button"
    color="primary"
    class="btn btn-sm animated pulse infinite"
    outline="true"
    mdbWavesEffect
    routerLinkActive="active"
    routerLink="/projects"
  >
    More Projects <i class="fas fa-caret-right"></i>
  </button>
</div>
