<button mdbBtn color="primary" class="waves-light btn btn-block animated wobble font-weight-bold" type="button"
  (click)="test.toggle()" mdbWavesEffect>
  P r o j e c t s
</button>
<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient mb-1" style="width: 100%">
    <div class="card-body">
      <span class="card-title h5" style="color: #212121">WebMonitor-Hub</span>
      <p class="card-text">
        WebMonitor is a MEAN-stack application that enables companies to monitor and update the status of their production websites. Access is restricted to authorized company admins using verified emails and secure JWT authentication.
      </p>
      <p class="card-text">
        Technology : <span class="text-muted">MEAN-Stack</span>
      </p>
      <a class="card-text" target="_blank" href="https://github.com/mdshabiralam8777/WebMonitor-Hub">Project <i
          class="fas fa-code-branch"></i></a>
    </div>
  </div>
  <div class="card incard heavy-rain-gradient mb-1" style="width: 100%">
    <div class="card-body">
      <span class="card-title h5" style="color: #212121">Cinemepedia</span>
      <p class="card-text">
        An Angular app for movie details, trailers, language-genre sorting, and merchandise browsing with order tracking via email.
      </p>
      <p class="card-text">
        Technology : <span class="text-muted">Angular, TMDb API</span>
      </p>
      <a class="card-text" target="_blank"
        href="https://github.com/mdshabiralam8777/CinemaPedia/tree/master/TeamI-Movie">Project <i
          class="fas fa-code-branch"></i></a>
    </div>
  </div>
  <button mdbBtn type="button" color="primary" class="btn btn-sm animated pulse infinite" outline="true" mdbWavesEffect
    routerLinkActive="active" routerLink="/projects">
    More Projects <i class="fas fa-caret-right"></i>
  </button>
</div>