<div
  class="
    row
    text-center
    mt-2
    pb-2
    d-flex
    justify-content-center
    container-fluid
  "
>
  <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
    <div class="card incard heavy-rain-gradient m-2" style="width: 100%">
      <div class="card-body">
        <span class="card-title h5" style="color: #212121">SuperHero Archive</span>
        <p class="card-text">
          A React progressive web app for quick hero searches
        </p>
        <p class="card-text">
          Technology : <span class="text-muted">ReactJS, SuperHero API</span>
        </p>
        <a
          class="card-text"
          target="_blank"
          href="https://github.com/mdshabiralam8777/SuperHeroArchive"
          >Project <i class="fas fa-code-branch"></i
        ></a>
      </div>
    </div>
    <div class="card incard heavy-rain-gradient m-2" style="width: 100%">
      <div class="card-body">
        <span class="card-title h5" style="color: #212121">E-Pariksha</span>
        <p class="card-text">
          E-Pariksha is a web application in which students can take tests
          created by teachers for their evaluation on the basis of tests taken.
        </p>
        <p class="card-text">
          Technology : <span class="text-muted">MySQL,PHP</span>
        </p>
        <a
          class="card-text"
          target="_blank"
          href="https://github.com/mdshabiralam8777/E-Pariksha"
          >Project <i class="fas fa-code-branch"></i
        ></a>
      </div>
    </div>
    <div class="card incard heavy-rain-gradient m-2" style="width: 100%">
      <div class="card-body">
        <span class="card-title h5" style="color: #212121">PortFolio</span>
        <p class="card-text">A portfolio Web-App</p>
        <p class="card-text">
          Technology : <span class="text-muted">Angular,MDB,BootStrap</span>
        </p>
        <a
          class="card-text"
          target="_blank"
          href="https://github.com/mdshabiralam8777/Personal-PortFolio"
          >Project <i class="fas fa-code-branch"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-4 col-md-6 col-sm-12 pb-1"> -->
  <!-- </div> -->
</div>
