<button
  mdbBtn
  color="primary"
  class="waves-light btn btn-block animated wobble font-weight-bold"
  type="button"
  (click)="test.toggle()"
  mdbWavesEffect
>
  S k i l l s
</button>

<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient mb-1" style="width: 100%">
    <div class="card-body text-left">
      <p class="card-title text-left h6">Front-end Development</p>
      <div class="d-flex justify-content-between flex-wrap">
        <div class="frontend-skills d-flex justify-content-between p-1" *ngFor="let feSkill of skills?.frontEndDevelopment">
          <span class="fe-skill-desgin">{{feSkill}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card incard heavy-rain-gradient mb-1" style="width: 100%">
    <div class="card-body text-left">
      <p class="card-title h6">Back-end Development</p>
      <div class="d-flex justify-content-between flex-wrap">
        <div class="frontend-skills d-flex justify-content-between p-1" *ngFor="let feSkill of skills?.backEndDevelopment">
          <span class="fe-skill-desgin">{{feSkill}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card incard heavy-rain-gradient" style="width: 100%">
    <div class="card-body text-left">
      <p class="card-title h6">Others</p>
      <div class="d-flex justify-content-between flex-wrap">
        <div class="frontend-skills d-flex justify-content-between p-1" *ngFor="let feSkill of skills?.others">
          <span class="fe-skill-desgin">{{feSkill}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
