<button
  mdbBtn
  color="primary"
  class="waves-light btn btn-block animated wobble font-weight-bold"
  type="button"
  (click)="test.toggle()"
  mdbWavesEffect
>
  C E R T I F I C A T I O N S
</button>

<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient mb-1" style="width: 100%">
    <div class="card-body text-left">
      <p class="card-title" style="color: #212121">
        <img src="/assets/images/Safe-Certificate.png" alt="SAFe®" width="auto" height="24px">
        Certified SAFe® 5 Practitioner
      </p>
      <p style="color: #212121; margin: -15px 0 0 30px;">
        Issued by
        <a
          href="https://www.credly.com/badges/1a236f11-4b18-410d-8456-ec6723743376"
          target="_blank"
          rel="noopener noreferrer"
          >Scaled Agile Inc</a
        >
      </p>
    </div>
  </div>
</div>
