<button
  mdbBtn
  color="primary"
  class="waves-light btn btn-block animated wobble font-weight-bold"
  type="button"
  (click)="test.toggle()"
  mdbWavesEffect
>
  E x p e r i e n c e
</button>

<div class="" mdbCollapse #test="bs-collapse">
  <div class="card incard heavy-rain-gradient" style="width: 100%">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="timeline-3">
            <li>
              <a
                href="https://www.hcltech.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="HCLtech Homepage"
              >
                <img
                  src="assets/techImages/hcltech-new-logo.svg"
                  alt="HCLtech"
                  class="logo-img"
                />
              </a>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-calendar-alt pr-1"></i>Jan 2024 - Current
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-map-marker-alt pr-1"></i>Dubai - UAE
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-building pr-1"></i>Client:
                <a
                  href="https://www.emiratesnbd.com/en"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="ENBD Homepage"
                  >Emirated NBD</a
                >
              </p>
              <div class="mt-2">
                <ul>
                  <li>
                    Integrating the UI of the
                    <strong>Beyond Travel Pass</strong> into Emirates NBD UAE's
                    web application, enhancing user accessibility and
                    functionality for awesome deals.
                  </li>
                  <li>
                    Developing reusable React components for ENBD’s internal
                    framework, enhancing modularity and efficiency across
                    applications.
                  </li>
                  <li>
                    Designed and developed intuitive UIs for key features like
                    <strong
                      >Quick Pay, Pay Bills, Sadad Pay, and Account Finder and
                      more</strong
                    >, delivering a seamless and user-friendly experience
                    critical for SAMA approval.
                  </li>
                  <li>
                    Contributed to the successful implementation of the
                    <strong>Trusted Device</strong> feature, enhancing platform
                    security and establishing user trust for compliance with
                    regulatory standards.
                  </li>
                  <li>
                    Played an integral role in Emirates NBD's digital migration
                    initiatives, building mobile app-like features that
                    supported the product's launch in KSA after securing
                    <strong>SAMA approval</strong>.
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a
                href="https://www.brillio.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Brillio Homepage"
              >
                <img
                  class="logo-img"
                  src="assets/techImages/Brillio.svg"
                  alt="Brillio"
                />
              </a>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-calendar-alt pr-1"></i>Mar 2022 - Dec 2023
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-map-marker-alt pr-1"></i>Hyderabad - India
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-building pr-1"></i>Client:
                <a
                  href="https://www.verizon.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Verizon Homepage"
                  >Verizon</a
                >
              </p>
              <div class="mt-2">
                <ul>
                  <li>
                    Built Angular-based web solutions, reducing resource
                    allocation by <strong>60%</strong> through issue reporting
                    workflows.
                  </li>
                  <li>
                    Improved performance with advanced caching and consolidating
                    <strong>60+ API</strong> calls, reducing server load by
                    <strong>70%</strong>.
                  </li>
                  <li>
                    Contributed to <strong>microfrontend migration</strong>,
                    ensuring scalable and maintainable UI.
                  </li>
                  <li>
                    Upgraded legacy features with enhanced functionality,
                    boosting user engagement.
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a
                href="https://www.cognizant.com/us/en"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Cognizant Homepage"
              >
                <img
                  class="logo-img"
                  src="assets/techImages/cognizant.svg"
                  alt="Cognizant"
                />
              </a>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-calendar-alt pr-1"></i>Aug 2020 - Mar 2022
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-map-marker-alt pr-1"></i>Kolkata - India
              </p>
              <p class="float-end my-2 text-muted">
                <i class="fas fa-building pr-1"></i>Client:
                <a
                  href="https://www.kia.com/us/en"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="KIA Homepage"
                  >Kia Motors</a
                >
              </p>
              <div class="mt-2">
                <ul>
                  <li>
                    Built responsive web applications with cross-functional
                    teams using Angular and Adobe Experience Manager (AEM),
                    leveraging AEM Templates, Components, and best practices for
                    performance optimization.
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
